@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Titulo da página";

    //var seriesTitle = "The Amazing Spider-Man";
    //var issueNumber = 700;
    var description = "<p>Final issue! Witness the final hours of Doctor Octopus' life and his one, last, great act of revenge! Even if Spider-Man survives... <strong>will Peter Parker?</strong></p>";
    var artists = new string[]
    {
        "Script: Dan Slott",
        "Pencils: Humberto Ramos",
        "Inks: Victor Olazaba",
        "Colors: Edgar Delgado",
        "Letters: Chris Eliopoulos"
    };

}


        <p>
            <b>Series Title: </b>
            @ViewBag.SeriesTitle
        </p>
        <p>
            <b>Issue Number: </b>
            @ViewBag.IssueNumber
        </p>
        <p>
            <b>Description: </b>
            @Html.Raw(description)
        </p>

        @if(artists.Length > 0) { 
        <p>
            <b>Artists: </b>
            <ul>
            @foreach (var artist in artists)
            {

                <li>* @artist</li>

            }
            </ul>
        </p>
        }
